
body {
	background-color: #FFF5EE;
}

head {
	style="color: #A9A9A9;"
}
h2 {
	text-decoration: underline;
}
.galleryAG {
	text-align: center;
}
.galleryAG img {
	height: 300px;
	border: 4px solid #00000;
	border-radius: 10px;
}
.galleryAG img:hover {
	opacity: 0.8;
}
.galleryEF {
	text-align: center;
}
.galleryEF img {
	heigh: 300px;
	border:4px solid #00000;
	border-radius: 10px;
}
.galleryEF img:hover {
	opacity: 0.8;
}
.gallerySZ
{
	text-align: center;
}
.gallerySZ img
{
	height: 300px;
	border: 4px solid #00000
	border-radius: 10px;
}
.gallerySZ img:hover {
	opacity: 0.8;
}
footer {
	border-top: 1px solid #fff;
	text-align: center;
	margin-top: 20px;
}
