
* {
	box-sizing: border-box;
}
head {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 50px;
	margin: auto;
	text-align: center;
	padding-top: 20px;
}
body {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	background: #bfaeae;
	margin: 0;
	color: #000000;
}
.banner {
	text-align: center;	
	display: block;
	margin: 0 auto;
	padding: 5px;
	width: auto;
}	
h1, h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 35px;
	text-align: center;
	background-color: #bfaeae;
	color: #000000;
}
nav {
	background: rgba(255, 240, 250);
	width: 100%;
	overflow: auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	float: left;
}
nav a {
	width: 120px;
	display: block;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 240, 250);
	font-size: 17px;
	color: #594848;
	padding: 20px 10px;
	font-family: Tahoma, Geneva, sans-serif;
}
nav a:hover {
	background: skyblue;
	color: black;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 10px;
	background: #fff0fa;
	overflow: auto;
}
.galleryH {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 390px;
}
.galleryH img {
	width: 100%;
	height: auto;
	padding: 0px 20px;
	transition: all .2s ease-in-out;
}
.galleryH img:hover {
	transform: scale(1.1);
	background: #ff800a;
	box-shadow: 2px 2px 2px #000;
}
.desc {
	padding: 15px;
	text-align: center;
}
.galleryAG {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 25%;
	display: flex;
	justify-content: center;
}
.galleryAG img {
	width: 100%;
	height: auto;
	padding: 0px 20px;
	transition: all .2s ease-in-out;
}	
.galleryAG:hover {
	transform: scale(1.1);
}
.galleryEF {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 25%;
	display: flex;
	justify-content: center;
}
.galleryEF img {
	width: 100%;
	height: auto;
	padding: 0px 20px;
	transition: all .2s ease-in-out;
}
.galleryEF:hover {
	transform: scale(1.1);
}
.gallerySZ {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 25%;
	display: flex;
	justify-content: center;
}
.gallerySZ img {
	width: 100%;
	height: auto;
	padding: 0px 20px;
	transition: all .2s ease-in-out;
}
.gallerySZ:hover {
	transform: scale(1.1);
}
.desc {
	padding: 15px;
	text-align: center;
}
footer {
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top: 1px solid #fff;
	background: #594848;
	color: white;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
}
